@import "tailwindcss";
@import "./styles/global.css";



/* @theme {
    ----typography----
    --text-5xl: 64px;
    --text-4xl: 48px;
    --text-3xl: 40px;
    --text-2xl: 24px;
    --text-md: 18px;
} */

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite;
}

/* .animate-scroll-secondary{
    display: flex;
    width: max-content;
    animation: scroll 10s linear infinite  ;
} */
