@import "tailwindcss";
@import "./color.css";
@import "./font.css";

* {
  font-family: var(--font-dm-sans);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    scrollbar-width: none;
  }
}

section {
  overflow-x: hidden;
  padding: clamp(64px, 8vw, 90px) 0;
  padding-inline: clamp(16px, 5vw, 100px);
}
footer {
  padding-inline: clamp(16px, 5vw, 100px);
}
.huge-faded-text {
  text-align: center;
  /* leading-trim: both; */
  /* text-edge: cap; */
  font-family: "DM Sans";
  /* font-size: 258.549px; */
  font-size: clamp(77px, 17vw, 258.549px);
  font-style: normal;
  font-weight: 500;
  line-height: clamp(77px, 17vw, 258.549px);
  /* letter-spacing: -7.756px; */
  color: var(--color-accent-foreground);

  background: linear-gradient(
    180deg,
    rgba(5, 99, 153, 0.1) -6.91%,
    rgba(5, 99, 153, 0.01) 92.28%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ---- override-inline padding ---*/
.no-inline-padding {
  padding-inline: 0;
}

.input-styled,
.select-styled,
.textarea-styled {
  width: 100%;
  height: 44px;
  background-color: var(--color-primary-background);
  /* opacity: 40%; */
  font-size: 14px;
  font-weight: normal;
  border: 1px solid rgba(5, 99, 153, 0.2);
  border-radius: 8px;
  padding-left: 16px;
  color: oklch(55.1% 0.027 264.364);
}
.textarea-styled {
  height: 108px;
  padding-top: 11px;
}
input:focus {
  outline: rgba(5, 99, 153, 0.4) 1px solid;
}
input::placeholder,
textarea::placeholder {
  color: oklch(55.1% 0.027 264.364);
}
